* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 15px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}
fieldset {
    border: 0;
}
.error{
    border-style: solid;
    border-color: coral;
}
/*label.dropdown-stock {*/
/*    display: block;*/
/*    margin: 30px 0 0 0;*/
/*}*/

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}